<%- include('../layout/header', { page:'register', auth: null }) %>

<div class="container">
    <% if (error) { %>
        <div class="error">
           <h4>Err. occured !</h4>
           <%= error %>
        </div>
       <% } %>
    <form action="/u/register" method="post" class="form">
        <h1>Register</h1>
        <div class="input-group">
            <label class="label-control">E-mail</label>
            <input type="email" value="<%= email ? email : ""  %>" name="email" class="input-control" placeholder="annonce@example.com">
        </div>
        <div class="input-group">
            <label class="label-control">Username</label>
            <input type="text" name="username" value="<%= username ? username : ""  %>" class="input-control" placeholder="Username">
        </div>
        <div class="input-group">
            <label class="label-control">Address</label>
            <input type="text" name="address" value="<%= address ? address : ""  %>" class="input-control" placeholder="rue ex. 88 city">
        </div>
        <div class="input-group">
            <label class="label-control">Password</label>
            <input type="password" value="<%= password ? password : ""  %>" name="password" class="input-control" placeholder="*********">
        </div>
        <div class="input-group">
            <label class="label-control">Confirm password</label>
            <input type="password" name="confirm_password" class="input-control" placeholder="*********">
        </div>
        <div class="input-group">
            <a href="/u/login" class="link">Already has an account</a>
        </div>
        <div>
            <input type="submit" class="input-submit" value="register">
        </div>
    </form>
</div>

<%- include('../layout/footer') %>