<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="_404">
        <h1>404. Not Found!</h1>
    </div>
</body>
</html>